.container {
  display: flex;
  justify-content: center;
  background-color: lightgray;
}
.flex-item {
  flex-basis: 200px;
  padding: 20px;
  margin: 20px;
  text-align: center;
  background-color: darkgray;
  font-size: 2rem;
  font-family: sans-serif;
  transition: 1s ease-in-out;
}
#ok {
  color: red;
  border: 1px solid red;
  cursor: pointer;
}

#cancel {
  background-color: black;
  color: white;
  cursor: pointer;
}
/* #no {
  color: black;
  border: 1px solid black;
  cursor: pointer;
} */
